/* =============
    Typography
============= */
body{
    font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 5px;
    padding: 10px;
}

.section-title{
    font-weight: 300;
}
