#articles5cardsection{
    display: grid;

    grid-template-columns: 1fr;

    background-color:#F8F8F8;

    margin: 0px 16px;
    color: #F8F8F8;

    ul{
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: 16px;

        li{
            background-color:#A86A96;
            width: 100%;
            grid-template-columns: 1fr;
        
            
            

        }
    }
@include md{

    margin: 0 40px;
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }
}
@include lg{
    margin: 0 40px;
    ul{
        grid-template-columns: repeat(1fr 1fr 1fr);
    }
}
    }

