#bodycards2 {

    display: grid;

    grid-template-columns: 1fr;

    background-color: #F8F8F8;

    display: grid;

    grid-template-columns: 1fr;
    grid-gap: 16px;

    h1 {
        color: #F8F8F8;
    }

    h3 {
        color: #F8F8F8;
    }

    grid-template-areas: "left" "right";

    aside{

        background-color: #A86A96;
        width: auto;
        margin-top: 20px;
        padding: 15px;
        display: flex;
        align-content: center;
        justify-content: space-between;


        img {
            max-height: 85px;
            max-width: 85px;
        

        }

        .buttoncolor {
            display: inline-block;
            margin-top: 10px;
        }



    }




    @include lg {
        grid-template-columns: 50% 50%;
    }
    

}
