#bodycard {
  display: grid;
}
#bodycard .bodycards1 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #FFACAC;
  grid-template-areas: "left" "right";
}
#bodycard .bodycards1 section {
  background-color: #FF8585;
}
#bodycard .bodycards1 div {
  Background-color: #FFACAC;
}
