#bodycards2{

    display: grid;

    grid-template-columns:1fr;

    background-color:#A86A96;

        display:grid;

        grid-template-columns:1fr;

        background-color:#A86A96;
        
        grid-template-areas: "left" "right";
    
        aside#left{
    
            background-color: #A86A96;
    
        }
    
        div#right{
    
            background-color:  #A86A96;
    
       
        }
        @include lg {
            grid-template-columns: 50% 50%;
    }
    }
