#bodycard{

    display: grid;

    .bodycards1{
        display:grid;

        grid-template-columns:1fr;

        background-color:#FFACAC;
        
        grid-template-areas: "left" "right";
    
        section{
    
            background-color: #FF8585;
    
        }
    
        div{
    
            Background-color:  #FFACAC;
    
        }
    @include md{
        grid-template-columns:20% 80%;
    }
    @include lg{
        grid-template-columns: 50% 50%;
    }

    @include xl{
        grid-template-columns: 50% 50%;
    }
    }

  

}

