#bodycard{

    display: grid;

    grid-template-columns:1fr;

    background-color:#FFACAC;
    
    grid-template-areas: ".section" ".div";

    section{

        background-color: #FF8585;

    }

    div{

        Background-color:  #FFACAC;
        
    }

    }



