header{

    display: grid;

    grid-template-columns:1fr;

    background-color:#F8f8f8;
    
    div#search{
        background-color:#F8f8f8;
    }

        
    }

    .container{
        width:auto;
        height:68px;
       

        img {
            width: auto;
            height: auto;
            margin-top: 18px;
            margin-left:8px;;

            
             
        }
        background-color:#A86A96;
    }
    


    




