#Imagesunder2bodycards{

    display: grid;

    .gallery-grid{

        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "aside" "div" "article";

        @include sm{
            grid-template-columns: 1fr;
        }
        @include md{
            grid-template-columns: 50% 50% 0%;

        }
        @include lg{
            grid-template-columns: 60% 40% 0%;

        }
        @include xl{
            grid-template-columns: 70% auto auto;

        }
        }
    }


     

    
