#Imagesunder2bodycards{
ul{
    list-style: none;
    padding: 0;
    margin:0;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "imgone"
    "imgtwo"
    "imgthree";

    .imgone{
            grid-area: imgone;

            height: 670px;
            background-image:url("../img/line up.png");
            background-size: cover;
            background-position: center center; 

        }

        li.imgtwo{

            height: 400px;
            grid-area: imgtwo;
            background-image:url("../img/Festivalattendees.png");
            background-size: cover;
            background-position: center center; 


        }

        li.imgthree{
            grid-area: imgthree;

            height: 400px;
            background-image:url("../img/Camping .png");
            background-size: cover;
            background-position: center center; 

            display: none;


        }

    @include md{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imgone imgtwo";

        li.imgone, li.imgtwo{
            height: 900px;
        }
        
        
    }

    @include lg {

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
             "imgone imgtwo"
             "imgone imgthree";

        li.imgthree{
            display: inline;
        }

        li.imgtwo, li.imgthree{
               height: 400px;
        }

        li.imgone{
            height: auto;
        }

    }

  
}
}